**Water Use Prediction Model for Nairobi County**

This ANN model utilizes data acquired from Nairobi Water and Sewerage Corporation (NWSC), the county's main supplier and distributer of piped water to predict short term water consumption rates in different residential areas

# Data Preparation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Read pdfs and their tables
!pip install "camelot-py"
!pip install "tabulate-py"
!pip install "tabulate"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting camelot-py
  Downloading camelot_py-0.10.1-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 25 kB/s
Collecting pdfminer.six>=20200726
  Downloading pdfminer.six-20221105-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 10.6 MB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.8/dist-packages (from camelot-py) (7.1.2)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.8/dist-packages (from camelot-py) (1.3.5)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.8/dist-packages (from camelot-py) (3.0.4)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.8/dist-packages (from camelot-py) (0.8.10)
Collecting PyPDF2>=1.26.0
  Downloading pypdf2-2.11.2-py3-none-any.whl (220 kB)
     |████████████████████████████████| 220 kB 56.7 MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from camelot-py) (1.21.6)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.8/dist-packages (from camelot-py) (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl>=2.5.8->camelot-py) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23.4->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23.4->camelot-py) (2022.6)
Collecting cryptography>=36.0.0
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 33.6 MB/s
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from pdfminer.six>=20200726->camelot-py) (2.1.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (2.21)
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from PyPDF2>=1.26.0->camelot-py) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->camelot-py) (1.15.0)
Installing collected packages: cryptography, PyPDF2, pdfminer.six, camelot-py
Successfully installed PyPDF2-2.11.2 camelot-py-0.10.1 cryptography-38.0.4 pdfminer.six-20221105
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement tabulate-py (from versions: none)
ERROR: No matching distribution found for tabulate-py
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (0.8.10)

In [ ]:
import pandas as pd
import numpy as py
impo rt matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras

import camelot
import tabulate

## Water Data

In [ ]:
# Water Meter Data 
water_consumption = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/IS Project II/water_datasets/water_data_MNyamai.csv")
water_consumption.head(5)

NameError: ignored

## Factors Data

In [ ]:
# popn_dist_edlevel_2020 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/distribution-of-population-age-3-years-and-above-by-highest-level-of-education-reached-area-of-.xlsx")
# housing_2019 = camelot.read_pdf("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/VOLUME-I-KPHC-2019.pdf", flavor='stream')
# popn_dist_2019 = camelot.read_pdf("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/Population Distribution by Sex, Number of Households, Area and Density by County and District 2019 Census.pdf", flavor='stream')
# popn_dist_2009 = camelot.read_pdf("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/Population Distribution by Sex, Number of Households, Area and Density by County and District 2009.pdf", flavor='stream')
# nairobi_1969_2009 = camelot.read_pdf("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/Nairobi 1969 - 2009 KNBS.pdf", flavor='stream')
# education_level_2015 = camelot.read_pdf("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/Highest Education Level by County and District.pdf", flavor='stream')

/usr/local/lib/python3.7/dist-packages/camelot/parsers/stream.py:365: UserWarning: No tables found in table area 1
  warnings.warn(f"No tables found in table area {table_idx + 1}")
/usr/local/lib/python3.7/dist-packages/camelot/parsers/stream.py:365: UserWarning: No tables found in table area 1
  warnings.warn(f"No tables found in table area {table_idx + 1}")

                     0
0   COUNTY STATISTICAL
1             ABSTRACT
2  NAIROBI CITY COUNTY
3                 2015

In [ ]:
# nairobi_1969_2009[0].df.head(5)

                     0
0   COUNTY STATISTICAL
1             ABSTRACT
2  NAIROBI CITY COUNTY
3                 2015

# Data Preprocessing & Cleaning

## Sorting & Combination

In [ ]:
# -------Education Data--------------

eTable_2020 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/distribution-of-population-age-3-years-and-above-by-highest-level-of-education-reached-area-of-.xlsx")
eTable_2020.head(5)

eTable_2014 = camelot.read_pdf('/content/drive/MyDrive/Colab Notebooks/IS Project II/factors_datasets/Population Distribution by Sex, Number of Households, Area and Density by County and District 2009.pdf', flavor='stream')
eTable_2014[0].df

In [ ]:
# Missing Values

**Feature Extraction**
To provide most correlating contributory factors from table of features: 6 explanatory factors include


*   Education level
*   Income level
*   Cost of piped water
*   Household size
*   Household density
*   Land use

# Training

In [ ]:
import sklearn.

# Testing

# Comparative Analysis

# Recommendation